Package: DumdumCalc
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: dumdum
Depends: libqt5gui5
Pre-Depends: libqt5gui5
Build-Depends: libqt5gui5
Description: Calculator
 IVS project 2 calculator by team dumdum. Calculator provides a lot of
 basic operations (e.g. addition, subtraction, multiplication,
 factorial...).
 .
 After installation you should be able to execute the ap by clicking
 on it in Applications or by typing 'calculator' in terminal.
 .
 If you want to see user manual, press F1 in app and the
 help window with brief information will apear.
 For full user manual click on the url in helpwindow or see user manual
 the user manual should be installed in /usr/share/doc/calculator_man.pdf.
 .
 This software is provided under GPLv3 licence.
 (For more information about it see www.gnu.org/license/gpl-3.0.html)

