[Desktop Entry]
Name=dumdumCalc 
Exec=/usr/bin/calculator
Terminal=false
Icon=/usr/share/icons/dumdumcalc.png
Type=Application
Categories=Application;
Comment=DumdumCalculator
